@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="flex-column flex-xxl-row d-flex align-items-center justify-content-around">
        <div class="col-6">
            <img src="../images/CallieLogo.png" />
        </div>
        </div>
        <div class="col-6">
            <p class="h2">What We Do</p>
            <p class="text-wrap w-75">Here at CALLIE, we are dedicated to helping companies respond to, prioritize, and redirect customer requests - simply and all in one system.</p>
            <button class="btn btn-outline-light">Contact Us</button>
            <br />
            <br />
            <button class="btn btn-outline-light">Sign Up</button>
            <button class="btn btn-outline-light">Log In</button>
        </div>
    </div>
</div>