@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-center">@ViewData["Title"]</h3>
    <br/>
    <br/>
    <div class="col-sm-6 col-xl-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                     <p asp-for="Input.Email" class="form-label text-light m-1">Email</p>
                    <input asp-for="Input.Email" class="form-control mb-3" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <p asp-for="Input.Password" class="form-label text-light m-1">Password</p>
                    <input asp-for="Input.Password" class="form-control mb-3" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <p>
                        <a id="forgot-password" class="text-light" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>

                <div class="spacer">
                    <br/>
                </div>

                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-outline-light">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
